@model ReviewViewModelWithBookInfoAndId

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><strong>@Model.BookTitle</strong> by @Model.BookAuthor</h1>

<h4>Edit your review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RatingOutOfFive" class="control-label"></label>
                <input asp-for="RatingOutOfFive" class="form-control" type="number" min="1" max="5" step="1" />
                <span asp-validation-for="RatingOutOfFive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewText" class="control-label"></label>
                <textarea asp-for="ReviewText" class="form-control" rows="5"></textarea>
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" asp-for="ReviewerId" />
            <input type="hidden" asp-for="BookTitle" />
            <input type="hidden" asp-for="BookAuthor" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary px-0 mb-2" style="width: 100px" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.BookId" class="btn btn-warning px-0" style="width: 100px">Cancel</a>
</div>

